<!DOCTYPE HTML>
<html>
<head>
    <title>Room Control Test</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

    <!-- Include our app logic -->
    <script src="static/jquery.touchSwipe.min.js"></script>
    <script src="static/main.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Room Control Test</h1>
    <div id="tabs">
        <ul>
   	    	<li><a href="#tabs-1">Lighting</a></li>
    	    <li><a href="#tabs-2">Tab Two</a></li>
        	<li><a href="#tabs-3">Tab Three</a></li>
        </ul> 
        <div class="tab_content" id="tabs-1">
            <h3>Lights:</h3>
            <div id="lights"></div>
            <h3>Groups:</h3>
            <div id="groups"></div>
        </div>

        <div class="tab_content" id="tabs-2">
            <p>This content appears on tab 2.</p>
        </div>

        <div class="tab_content" id="tabs-3">
            <p>This content appears on tab 3.</p>
        </div>
    </div> <!-- TABS -->
    <div class="footer">
        <p>Async mode is: <b>{{ async_mode }}</b></p>
        <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    </div>
</body>
</html>
